
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Areas/Writer/Views/Default/HeadPartial.cshtml")

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        @await Html.PartialAsync("/Areas/Writer/Views/Default/_NavbarPartial.cshtml")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">

            <!-- partial:../../partials/_sidebar.html -->
            @await Html.PartialAsync("/Areas/Writer/Views/Default/_SidebarPartial.cshtml")
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">

                        @RenderBody()

                </div>
                @await Html.PartialAsync("/Areas/Writer/Views/Default/_FooterPartial.cshtml")
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    @await Html.PartialAsync("/Areas/Writer/Views/Default/_ScriptsPartial.cshtml")
</body>

</html>